td {
    border: 2px solid black;
    padding: 10px;
    font-size: xx-large;
}

.groen{
 background: aquamarine;
}
.tijd {
    background: white;
}
.af {
    background: crimson;
}
.af2 {
    background: yellow;
}
.trlegenda {
    margin-bottom: 10px;
    float: right;

}
.header{
    background: gray;
}





